/* Flipbook container to center it */
.flipbook-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #ff007f, #ff4d4d);  
    position: relative;
}

.storyHeading {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right, black, #4d4d4d);
    -webkit-background-clip: text;  /* Clips background to text */
    -webkit-text-fill-color: transparent;  /* Makes text transparent to show the gradient */
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
    border-right: transparent;  /* Blinking cursor effect */
    width: 0;
    animation: typing 4s steps(30, end) forwards, blink-caret 0.75s step-end 4s 8;  /* Blink for 4 seconds */
    display: inline-block;
    font-weight: 900;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 30%;
    }
}

/* Blinking cursor animation (only for 4 seconds) */
@keyframes blink-caret {
    from {
        border-right-color:transparent;
    }
    to {
        border-right-color: transparent;
    }
}



/* Styling for individual pages */.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Example background color */
    border: 2px solid #ccc; /* Example border */
    border-radius: 8px; /* Example border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
}

.react-pdf__Page__annotations {
    display: none; /* Hide the annotation layer */
}
/* Page header styling */
.page-header {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Page number styling */
.page-number {
    font-size: 14px;
    margin-top: auto;
    color: #555;
}

/* Back button styling */
.back-button {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 40px;
    color: rgb(3, 3, 3);
    cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .flipbook {
        width: 100%;
        height: 400px;
        margin-top: 5%;
    }

    .page {
        padding: 15px;
    }

    .page-header {
        font-size: 18px;
    }

    .page-number {
        font-size: 12px;
    }

    .back-button {
        font-size: 30px;
    }
}
